/* App Styles */
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* NavBar Styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav h1 {
  margin: 0;
  font-size: 24px;
}

/* CameraGrid Styles */
.camera-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0px;
}

@media (max-width: 1000px) {
  .camera-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .camera-grid {
    grid-template-columns: 1fr;
  }
}

/* CameraItem Styles */
.camera-item {
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.camera-image-container {
  position: relative;
  width: 100%;
}

.camera-image-container img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.camera-image-container:hover img {
  transform: scale(1.05);
  filter: brightness(80%);
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.overlay-top {
  top: 0;
}

.overlay-bottom {
  bottom: 0;
}

.camera-name,
.camera-ip {
  margin: 0;
}
